.cart-icon {
  position: relative;
  display: inline-block;
}
.dot{
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.text-dec-none{
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}

